# Exploratory Data Analysis - Valorant

## Libs

In [13]:
# Data manipulation
import pandas as pd
from datetime import datetime
import pathlib

In [14]:
# Charts
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

## Initial Settings and Loads

In [15]:
abs_path = pathlib.Path.cwd().parent

### Load Matches

In [16]:
file_read = pathlib.Path(abs_path).joinpath('data').joinpath('matches').joinpath('matches_processed.csv')
df_matches_raw = pd.read_csv(file_read)

### Load Players Rank

In [17]:
file_read = pathlib.Path(abs_path).joinpath('data').joinpath('players').joinpath('players_processed.csv')
df_players_raw = pd.read_csv(file_read)
del df_players_raw['Unnamed: 0']

### Load Weapons

In [18]:
file_read = pathlib.Path(abs_path).joinpath('data').joinpath('weapons').joinpath('weapons_processed.csv')
df_weapons_raw = pd.read_csv(file_read)
del df_weapons_raw['Unnamed: 0']

## EDA Players

In [41]:
df_players_cleaned = df_players_raw[['userId', 'server', 'leaderboardRank', 'rankedRating', 'avgScore', 'competitiveTier']].sort_values('rankedRating', ascending = False).reset_index(drop = True)

In [42]:
df_players_cleaned

,userId,server,leaderboardRank,rankedRating,avgScore,competitiveTier
0,neveR%23god,eu,1,1252,275.0,27
1,RieNs%23wagwn,eu,2,1183,266.0,27
2,SEN zekken%235193,na,1,1159,268.0,27
3,SR mada%231945,na,2,1147,249.0,27
4,TBK anao sato%23lukxo,br,1,1127,249.0,27
...,...,...,...,...,...,...
2174,Lobo%2311111,kr,394,212,194.0,27
2175,아침햇살%2311111,kr,396,212,241.0,27
2176,돌아온 로사%23troll,kr,397,211,275.0,27
2177,XL2566K%23360Hz,kr,398,211,230.0,27
2178,SMT GEORGE%23SMWIN,kr,400,211,281.0,27

In [19]:
df_players_raw

,server,updatedAt,gameName,tagLine,userId,leaderboardRank,rankedRating,numberOfWins,competitiveTier,winRatio,avgScore,headshotRatio
0,br,2022-12-20T02:40:31.000Z,TBK anao sato,lukxo,TBK anao sato%23lukxo,1,1127,113,27,0.570,249.0,0.341
1,br,2022-12-20T02:40:31.000Z,artzin,psz,artzin%23psz,2,1122,199,27,0.623,261.0,0.274
2,br,2022-12-20T02:40:31.000Z,LOUD cauanzin,2005,LOUD cauanzin%232005,3,1077,195,27,0.644,227.0,0.267
3,br,2022-12-20T02:40:31.000Z,CTC,RND,CTC%23RND,4,1072,161,27,0.496,230.0,0.266
4,br,2022-12-20T02:40:31.000Z,kiNgg,neave,kiNgg%23neave,5,1071,92,27,0.586,242.0,0.280
...,...,...,...,...,...,...,...,...,...,...,...,...
2174,ap,2022-12-20T02:41:27.000Z,Ezzy,DRIP,Ezzy%23DRIP,395,569,102,27,0.522,218.0,0.232
2175,ap,2022-12-20T02:41:27.000Z,ぼうさむらい,ドングリ,ぼうさむらい%23ドングリ,397,569,57,27,0.646,247.0,0.262
2176,ap,2022-12-20T02:41:27.000Z,Whyalwaysmyfault,102,Whyalwaysmyfault%23102,398,568,60,27,0.519,203.0,0.360
2177,ap,2022-12-20T02:41:27.000Z,Kenji,lol,Kenji%23lol,399,567,359,27,0.500,219.0,0.311
2178,ap,2022-12-20T02:41:27.000Z,eclipse7,1211,eclipse7%231211,400,567,122,27,0.523,220.0,0.253

In [24]:
df_matches_raw.query('userId == r"TBK anao sato%23lukxo"').groupby('userId')[['userId', 'result']].value_counts().reset_index()

                  userId   result    0
0  TBK anao sato%23lukxo  victory  101
1  TBK anao sato%23lukxo   defeat   74
2  TBK anao sato%23lukxo     tied    5