Libs

In [80]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

Matches

In [81]:
df_matches_raw = pd.read_csv('C:\\repos\\tcc_fia_valorant\\data\\matches\\matches_book.csv')
del df_matches_raw['Unnamed: 0']
df_matches_raw
df_matches_raw.head()

,nickNameFull,matchId,modeName,modeImageUrl,modeMaxRounds,timestamp,metadataResult,map,mapName,mapImageUrl,...,scorePerRoundValue,scorePerRoundDisplayValue,damagePerRoundValue,damagePerRoundDisplayValue,headshotsPercentageValue,headshotsPercentageDisplayValue,leaderboardRank,competitiveTier,rankedRating,server
0,NIP cauanzin%232233,7a6df5ad-6c30-4cf7-a999-3816c38980f7,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-08T18:10:05.755+00:00,defeat,2bee0dc9-4ffe-519b-1cbd-7fbe763a6047,Haven,https://trackercdn.com/cdn/tracker.gg/valorant...,...,265.619048,265.6,182.428571,182.4,28.125000,28,2,27,902,br
1,NIP cauanzin%232233,f98c7a4b-9892-4395-995f-bd6fcc261dc9,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-08T17:23:58.171+00:00,victory,2bee0dc9-4ffe-519b-1cbd-7fbe763a6047,Haven,https://trackercdn.com/cdn/tracker.gg/valorant...,...,192.315789,192.3,121.263158,121.3,25.000000,25,2,27,902,br
2,NIP cauanzin%232233,57ab0df2-5309-4809-93dd-b1a6d24adad1,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-08T16:48:52.583+00:00,defeat,2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba,Bind,https://trackercdn.com/cdn/tracker.gg/valorant...,...,268.000000,268.0,167.947368,167.9,26.530612,27,2,27,902,br
3,NIP cauanzin%232233,2b03d90d-24e2-4139-a518-93c9917ad57b,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-08T15:59:51.22+00:00,defeat,fd267378-4d1d-484f-ff52-77821ed10dc2,Pearl,https://titles.trackercdn.com/valorant-api/map...,...,227.416667,227.4,159.208333,159.2,16.000000,16,2,27,902,br
4,NIP cauanzin%232233,ffc2bcc5-b041-4932-8150-c6cf0df2bad8,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-05T22:17:04.347+00:00,defeat,2fb9a4fd-47b8-4e7d-a969-74b4046ebd53,Breeze,https://titles.trackercdn.com/valorant-api/map...,...,216.033333,216.0,136.300000,136.3,32.075472,32,2,27,902,br

In [82]:
col_names=df_matches_raw.columns
col_names

Index(['nickNameFull', 'matchId', 'modeName', 'modeImageUrl', 'modeMaxRounds',
       'timestamp', 'metadataResult', 'map', 'mapName', 'mapImageUrl',
       ...
       'scorePerRoundValue', 'scorePerRoundDisplayValue',
       'damagePerRoundValue', 'damagePerRoundDisplayValue',
       'headshotsPercentageValue', 'headshotsPercentageDisplayValue',
       'leaderboardRank', 'competitiveTier', 'rankedRating', 'server'],
      dtype='object', length=103)

In [83]:
row_num = df_matches_raw.shape[0]
col_num = df_matches_raw.shape[1]
print('Total lines is: {} \nTotal columns is: {}'.format(row_num, col_num))

Total lines is: 333835
Total columns is: 103

In [84]:
nan_num=df_matches_raw.isna().sum()
nan_num

nickNameFull                       0
matchId                            0
modeName                           0
modeImageUrl                       0
modeMaxRounds                      0
                                  ..
headshotsPercentageDisplayValue    0
leaderboardRank                    0
competitiveTier                    0
rankedRating                       0
server                             0
Length: 103, dtype: int64

In [85]:
df_matches = df_matches_raw.drop_duplicates('matchId',inplace=True)

In [86]:
row_num = df_matches_raw.shape[0]
col_num = df_matches_raw.shape[1]
print('Total lines is: {} \nTotal columns is: {}'.format(row_num, col_num))

Total lines is: 209428
Total columns is: 103

In [87]:
num_matches=df_matches_raw['matchId'].nunique()
num_matches

209428

In [88]:
num_playes=df_matches_raw['nickNameFull'].nunique()
num_playes

1869

In [89]:
df_cat_features = df_matches_raw[['nickNameFull','matchId','modeName','modeImageUrl','modeMaxRounds','timestamp','metadataResult','map','mapName','mapImageUrl','seasonName','userId',
    'hasWon','result','agentName',]]

df_cat_features.head(1)

,nickNameFull,matchId,modeName,modeImageUrl,modeMaxRounds,timestamp,metadataResult,map,mapName,mapImageUrl,seasonName,userId,hasWon,result,agentName
0,NIP cauanzin%232233,7a6df5ad-6c30-4cf7-a999-3816c38980f7,Competitive,https://trackercdn.com/cdn/tracker.gg/valorant...,25,2022-11-08T18:10:05.755+00:00,defeat,2bee0dc9-4ffe-519b-1cbd-7fbe763a6047,Haven,https://trackercdn.com/cdn/tracker.gg/valorant...,E5: A3,NIP cauanzin#2233,False,defeat,Fade

In [90]:
cat_features = df_cat_features.columns
num_features=df_cat_features.loc[:, ~df_cat_features.columns.isin(cat_features)]
num_features

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[209428 rows x 0 columns]

In [91]:
wins_per_agent = (
                    df_matches_raw.groupby(['agentName'],as_index=False)[['agentName','hasWon']]
                    .sum(numeric_only=True)
                    .sort_values('hasWon', ascending = False)
                    .reset_index(drop = True)
                )
wins_per_agent

    agentName  hasWon
0     Chamber   22610
1        Jett   16620
2       Reyna    9912
3        Sova    8480
4        Fade    7455
5        Raze    7441
6       Viper    7293
7        Omen    4928
8   Brimstone    4700
9        Sage    4056
10      KAY/O    3563
11    Phoenix    3086
12     Breach    2743
13       Skye    2519
14      Astra    2413
15       Neon    1751
16    Killjoy    1073
17       Yoru     881
18     Cypher     825
19     Harbor     385

In [92]:
df_matches_date_count = df_matches_raw.groupby(['dateMatch']).count()
df_matches_date_count

KeyError: 'dateMatch'

In [ ]:
df_matches_raw['dateMatch']

               nickNameFull                               matchId  \
0       NIP cauanzin%232233  7a6df5ad-6c30-4cf7-a999-3816c38980f7
1       NIP cauanzin%232233  f98c7a4b-9892-4395-995f-bd6fcc261dc9
2       NIP cauanzin%232233  57ab0df2-5309-4809-93dd-b1a6d24adad1
3       NIP cauanzin%232233  2b03d90d-24e2-4139-a518-93c9917ad57b
4       NIP cauanzin%232233  ffc2bcc5-b041-4932-8150-c6cf0df2bad8
...                     ...                                   ...
333830      machoke%23mepls  5d3e3389-2731-4bb3-bddf-592e23567692
333831      machoke%23mepls  33110063-8c60-4a04-8b81-08d36fdf6e69
333832      machoke%23mepls  22f3f7f3-12d4-416b-ae98-681aa7d36c93
333833      machoke%23mepls  ba6de7a0-2b28-4a3d-b18e-92897e8287a9
333834      machoke%23mepls  b321ddb7-7dd1-4ef6-98a4-3f44f5955c87

           modeName                                       modeImageUrl  \
0       Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
1       Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
2       Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
3       Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
4       Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
...             ...                                                ...
333830  Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
333831  Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
333832  Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
333833  Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...
333834  Competitive  https://trackercdn.com/cdn/tracker.gg/valorant...

        modeMaxRounds                      timestamp metadataResult  \
0                  25  2022-11-08T18:10:05.755+00:00         defeat
1                  25  2022-11-08T17:23:58.171+00:00        victory
2                  25  2022-11-08T16:48:52.583+00:00         defeat
3                  25   2022-11-08T15:59:51.22+00:00         defeat
4                  25  2022-11-05T22:17:04.347+00:00         defeat
...               ...                            ...            ...
333830             25  2022-07-21T18:38:24.302+00:00         defeat
333831             25  2022-07-21T18:05:55.168+00:00         defeat
333832             25    2022-07-17T13:39:00.2+00:00         defeat
333833             25  2022-07-17T12:48:54.326+00:00        victory
333834             25  2022-05-03T09:06:31.729+00:00         defeat

                                         map   mapName  \
0       2bee0dc9-4ffe-519b-1cbd-7fbe763a6047     Haven
1       2bee0dc9-4ffe-519b-1cbd-7fbe763a6047     Haven
2       2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba      Bind
3       fd267378-4d1d-484f-ff52-77821ed10dc2     Pearl
4       2fb9a4fd-47b8-4e7d-a969-74b4046ebd53    Breeze
...                                      ...       ...
333830  7eaecc1b-4337-bbf6-6ab9-04b8f06b3319    Ascent
333831  2fb9a4fd-47b8-4e7d-a969-74b4046ebd53    Breeze
333832  2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba      Bind
333833  fd267378-4d1d-484f-ff52-77821ed10dc2     Pearl
333834  b529448b-4d60-346e-e89e-00a4c527a405  Fracture

                                              mapImageUrl  ...  \
0       https://trackercdn.com/cdn/tracker.gg/valorant...  ...
1       https://trackercdn.com/cdn/tracker.gg/valorant...  ...
2       https://trackercdn.com/cdn/tracker.gg/valorant...  ...
3       https://titles.trackercdn.com/valorant-api/map...  ...
4       https://titles.trackercdn.com/valorant-api/map...  ...
...                                                   ...  ...
333830  https://trackercdn.com/cdn/tracker.gg/valorant...  ...
333831  https://titles.trackercdn.com/valorant-api/map...  ...
333832  https://trackercdn.com/cdn/tracker.gg/valorant...  ...
333833  https://titles.trackercdn.com/valorant-api/map...  ...
333834  https://titles.trackercdn.com/valorant-api/map...  ...

       scorePerRoundValue scorePerRoundDisplayValue  damagePerRoundValue  \
0              265.619048                     265.6           182.428571
1              192.315789                     192.3           121.263158
2              268.000000                     268.0           167.947368
3              227.416667                     227.4           159.208333
4              216.033333                     216.0           136.300000
...                   ...                       ...                  ...
333830         195.318182                     195.3           129.590909
333831         322.800000                     322.8           202.400000
333832         230.173913                     230.2           135.608696
333833         121.933333                     121.9            85.033333
333834          70.652174                      70.7            48.869565

       damagePerRoundDisplayValue headshotsPercentageValue  \
0                           182.4                28.125000
1                           121.3                25.000000
2                           167.9                26.530612
3                           159.2                16.000000
4                           136.3                32.075472
...                           ...                      ...
333830                      129.6                14.634146
333831                      202.4                29.411765
333832                      135.6                31.250000
333833                       85.0                30.555556
333834                       48.9                12.500000

        headshotsPercentageDisplayValue leaderboardRank  competitiveTier  \
0                                    28               2               27
1                                    25               2               27
2                                    27               2               27
3                                    16               2               27
4                                    32               2               27
...                                 ...             ...              ...
333830                               15             399               27
333831                               29             399               27
333832                               31             399               27
333833                               31             399               27
333834                               12             399               27

        rankedRating  server
0                902      br
1                902      br
2                902      br
3                902      br
4                902      br
...              ...     ...
333830           400      ap
333831           400      ap
333832           400      ap
333833           400      ap
333834           400      ap

[209428 rows x 103 columns]