Libs

In [1]:
import pandas as pd

Players

In [2]:
df_players_raw = pd.read_csv('C:\\repos\\tcc_fia_valorant\\data\\players\\players.csv')
df_players_raw.head()

,Unnamed: 0,meta.shard,meta.season,meta.page,meta.perPage,meta.totalCount,meta.updatedAt,leaderboards.puuid,leaderboards.gameName,leaderboards.tagLine,leaderboards.leaderboardRank,leaderboards.rankedRating,leaderboards.numberOfWins,leaderboards.competitiveTier,leaderboards.stat.winRatio,leaderboards.stat.avgScore,leaderboards.stat.headshotRatio,leaderboards.stat.mostCharacters,leaderboards.full_nickname
0,0,br,aca29595-40e4-01f5-3f35-b1b3d304c96e,1,100,500,2022-10-29T00:10:34.000Z,H54BruRabl10rwGbWHq_QCCLETxlgkxTECYxdgBSjr3nsF...,znjder,dgzin,1,979,92,27,0.633,250.0,0.314,[{'characterId': 'add6443a-41bd-e414-f6ad-e58d...,znjder%23dgzin
1,1,br,aca29595-40e4-01f5-3f35-b1b3d304c96e,1,100,500,2022-10-29T00:10:34.000Z,1q93nnIL_LTjr-30olVrL1T5PBFkTEe-UFL90_Nv__3L1h...,NIP cauanzin,2233,2,902,64,27,0.670,233.0,0.258,[{'characterId': 'dade69b4-4f5a-8528-247b-219e...,NIP cauanzin%232233
2,2,br,aca29595-40e4-01f5-3f35-b1b3d304c96e,1,100,500,2022-10-29T00:10:34.000Z,VAYOzZsNw-wGTnit3SrMAcay5VpfXGQrD1ycHVqjOkee5E...,FUR mwzera,2323,3,845,44,27,0.677,278.0,0.237,[{'characterId': '22697a3d-45bf-8dd7-4fec-84a9...,FUR mwzera%232323
3,3,br,aca29595-40e4-01f5-3f35-b1b3d304c96e,1,100,500,2022-10-29T00:10:34.000Z,ZuovuYNrb_WWpF2dupCgBNrGHjQFemFUEoLpXQipwW5ULs...,lula molusco,nariz,4,788,61,27,0.544,233.0,0.256,[{'characterId': '22697a3d-45bf-8dd7-4fec-84a9...,lula molusco%23nariz
4,4,br,aca29595-40e4-01f5-3f35-b1b3d304c96e,1,100,500,2022-10-29T00:10:34.000Z,NaN,NaN,NaN,5,766,54,27,NaN,NaN,NaN,NaN,nan%23nan

In [3]:
row_num=df_players_raw.shape[0]
col_num=df_players_raw.shape[1]
print('Total lines is: {} \nTotal columns is: {}'.format(row_num, col_num))

Total lines is: 2400
Total columns is: 19

In [4]:
nan_num=df_players_raw.isna().sum()
nan_num

Unnamed: 0                            0
meta.shard                            0
meta.season                           0
meta.page                             0
meta.perPage                          0
meta.totalCount                       0
meta.updatedAt                        0
leaderboards.puuid                  242
leaderboards.gameName               242
leaderboards.tagLine                242
leaderboards.leaderboardRank          0
leaderboards.rankedRating             0
leaderboards.numberOfWins             0
leaderboards.competitiveTier          0
leaderboards.stat.winRatio          242
leaderboards.stat.avgScore          242
leaderboards.stat.headshotRatio     242
leaderboards.stat.mostCharacters    242
leaderboards.full_nickname            0
dtype: int64

In [5]:
df_players_raw = df_players_raw[['meta.shard', 'meta.updatedAt', 'leaderboards.gameName','leaderboards.tagLine',
                                                  'leaderboards.full_nickname','leaderboards.leaderboardRank','leaderboards.rankedRating',
                                                  'leaderboards.numberOfWins', 'leaderboards.competitiveTier','leaderboards.stat.winRatio',
                                                  'leaderboards.stat.avgScore', 'leaderboards.stat.headshotRatio',]]

In [6]:
df_players_renamed = df_players_raw.rename(columns={'meta.shard': 'server', 'meta.updatedAt': 'updatedAt',
                                      'leaderboards.gameName': 'gameName', 'leaderboards.tagLine': 'tagLine',
                                      'leaderboards.full_nickname': 'nickNameFull', 'leaderboards.leaderboardRank': 'leaderboardRank',
                                      'leaderboards.rankedRating': 'rankedRating', 'leaderboards.numberOfWins': 'numberOfWins',
                                      'leaderboards.competitiveTier': 'competitiveTier', 'leaderboards.stat.winRatio': 'winRatio',
                                      'leaderboards.stat.avgScore': 'avgScore', 'leaderboards.stat.headshotRatio': 'headshotRatio',})

In [7]:
df_players = df_players_renamed.dropna().reset_index(drop=True)

In [8]:
row_num=df_players.shape[0]
col_num=df_players.shape[1]
print('Total lines is: {} \nTotal columns is: {}'.format(row_num, col_num))

Total lines is: 2158
Total columns is: 12

In [9]:
nan_num=df_players.isna().sum()
nan_num

server             0
updatedAt          0
gameName           0
tagLine            0
nickNameFull       0
leaderboardRank    0
rankedRating       0
numberOfWins       0
competitiveTier    0
winRatio           0
avgScore           0
headshotRatio      0
dtype: int64

In [10]:
df_players

,server,updatedAt,gameName,tagLine,nickNameFull,leaderboardRank,rankedRating,numberOfWins,competitiveTier,winRatio,avgScore,headshotRatio
0,br,2022-10-29T00:10:34.000Z,znjder,dgzin,znjder%23dgzin,1,979,92,27,0.633,250.0,0.314
1,br,2022-10-29T00:10:34.000Z,NIP cauanzin,2233,NIP cauanzin%232233,2,902,64,27,0.670,233.0,0.258
2,br,2022-10-29T00:10:34.000Z,FUR mwzera,2323,FUR mwzera%232323,3,845,44,27,0.677,278.0,0.237
3,br,2022-10-29T00:10:34.000Z,lula molusco,nariz,lula molusco%23nariz,4,788,61,27,0.544,233.0,0.256
4,br,2022-10-29T00:10:34.000Z,tisora,zzz,tisora%23zzz,6,756,32,27,0.733,293.0,0.256
...,...,...,...,...,...,...,...,...,...,...,...,...
2153,ap,2022-10-29T00:11:29.000Z,ENGM karam1l,118,ENGM karam1l%23118,396,400,46,27,0.506,243.0,0.307
2154,ap,2022-10-29T00:11:29.000Z,CaesarGG,0217,CaesarGG%230217,397,400,40,27,0.651,249.0,0.334
2155,ap,2022-10-29T00:11:29.000Z,Nanoi7,7777,Nanoi7%237777,398,400,67,27,0.642,243.0,0.237
2156,ap,2022-10-29T00:11:29.000Z,machoke,mepls,machoke%23mepls,399,400,40,27,0.732,267.0,0.285
2157,ap,2022-10-29T00:11:29.000Z,Either W or L,Wonly,Either W or L%23Wonly,400,400,69,27,0.636,228.0,0.289

In [11]:
df_players.to_csv('C:\\repos\\tcc_valorant_analysis\\data\\players\\player_book.csv')

Matches

In [12]:
df_matches_raw = pd.read_csv('C:\\repos\\tcc_valorant_analysis\\data\\matches\\matches.csv')
df_matches_raw.head()

In [ ]:
row_num=df_matches_raw.shape[0]
col_num=df_matches_raw.shape[1]
print('Total lines is: {} \nTotal columns is: {}'.format(row_num, col_num))

In [ ]:
nan_num=df_matches_raw.isna().sum()
nan_num

In [ ]:
df_matches_raw = df_matches_raw[[
                                    'player', 'matchId',
                                    'modeName', 'modeImageUrl', 'modeMaxRounds',
                                    'timestamp', 'metadataResult', 'map', 'mapName', 'mapImageUrl',
                                    'seasonName', 'userId', 'hasWon', 'result', 'agentName', 'playtimeValue',
                                    'playtimeDisplayValue', 'roundsPlayedValue',
                                    'roundsPlayedDisplayValue', 'roundsWonValue',
                                    'roundsWonDisplayValue', 'roundsLostValue',
                                    'roundsLostDisplayValue', 'roundsDisconnectedValue',
                                    'roundsDisconnectedDisplayValue', 'placementValue',
                                    'placementDisplayValue',  'scoreValue', 'scoreDisplayValue',
                                    'killsValue', 'killsDisplayValue', 'deathsValue',
                                    'deathsDisplayValue', 'assistsValue', 'assistsDisplayValue',
                                    'damageValue', 'damageDisplayValue', 
                                    'damageReceivedValue', 'damageReceivedDisplayValue',
                                    'headshotsValue', 'headshotsDisplayValue', 'grenadeCastsValue',
                                    'grenadeCastsDisplayValue', 'ability1CastsValue',
                                    'ability1CastsDisplayValue','ability2CastsValue',
                                    'ability2CastsDisplayValue', 'ultimateCastsValue',
                                    'ultimateCastsDisplayValue', 'dealtHeadshotsValue',
                                    'dealtHeadshotsDisplayValue', 'dealtBodyshotsValue',
                                    'dealtBodyshotsDisplayValue', 'dealtLegshotsValue',
                                    'dealtLegshotsDisplayValue', 'econRatingValue',
                                    'econRatingDisplayValue', 'suicidesValue', 'suicidesDisplayValue',
                                    'revivedValue', 'revivedDisplayValue',
                                    'firstBloodsValue', 'firstBloodsDisplayValue', 'firstDeathsValue',
                                    'firstDeathsDisplayValue', 'lastDeathsValue', 'lastDeathsDisplayValue',
                                    'survivedValue', 'survivedDisplayValue', 'tradedValue',
                                    'tradedDisplayValue', 'kastedValue', 'kastedDisplayValue',
                                    'kASTValue', 'kASTDisplayValue', 'flawlessValue', 'flawlessDisplayValue',
                                    'thriftyValue', 'thriftyDisplayValue', 'acesValue',
                                    'acesDisplayValue', 'teamAcesValue', 'teamAcesDisplayValue',
                                    'clutchesValue', 'clutchesDisplayValue', 'clutchesLostValue', 'clutchesLostDisplayValue',
                                    'plantsValue', 'plantsDisplayValue', 'defusesValue',
                                    'defusesDisplayValue', 'kdRatioValue', 'kdRatioDisplayValue',
                                    'scorePerRoundValue', 'scorePerRoundDisplayValue', 'damagePerRoundValue',
                                    'damagePerRoundDisplayValue', 'headshotsPercentageValue', 'headshotsPercentageDisplayValue',
                                ]]
df_matches_raw.head()

In [ ]:
df_matches_renamed = df_matches_raw.rename(columns={'player': 'nickNameFull'})

In [ ]:
df_matches_merged = df_matches_renamed.merge(df_players[["nickNameFull", "leaderboardRank", 'competitiveTier', 'rankedRating','server']])
df_matches_merged.head(1)

In [ ]:
qt_rows = df_matches_merged.shape[0]
qt_columns = df_matches_merged.shape[1]
print('Rows: {} Columns: {}'.format(qt_rows, qt_columns))

In [ ]:
nan_num=df_matches_merged.isna().sum()
nan_num

In [ ]:
df_matches = df_matches_merged

In [ ]:
df_matches['dateMatch'] = df_matches_merged['timestamp'].apply(lambda x: pd.Timestamp(x).strftime('%Y-%m-%d'))
df_matches['hourMatch'] = df_matches_merged['timestamp'].apply(lambda x: pd.Timestamp(x).strftime('%H'))

In [ ]:
df_matches.to_csv('C:\\repos\\tcc_valorant\\data\\matches\\matches_book.csv')

Weapons

In [ ]:
df_weapons_raw = pd.read_csv('C:\\repos\\tcc_valorant_analysis\\data\\weapons\\weapons.csv', low_memory=False)
df_weapons_raw.head(5)

In [ ]:
qt_rows = df_weapons_raw.shape[0]
qt_columns = df_weapons_raw.shape[1]
print('Rows: {} Columns: {}'.format(qt_rows, qt_columns))

In [ ]:
nan_num=df_weapons_raw.isna().sum()
nan_num

In [ ]:
df_weapons_raw = df_weapons_raw[[
    'player','weaponName','matchesPlayedValue', 'matchesWonValue',
    'matchesLostValue', 'matchesTiedValue','matchesWinPctValue','roundsPlayedValue',
    'killsValue','killsPerRoundValue','killsPerMatchDisplayValue',
    'secondaryKillsValue','headshotsValue','secondaryKillsPerRoundDisplayValue',
    'secondaryKillsPerMatchDisplayValue','deathsValue','deathsPerRoundDisplayValue',
    'deathsPerMatchDisplayValue','kDRatioValue','kDRatioDisplayValue','headshotsPercentageValue',
    'damageValue','damagePerRoundValue','damagePerMatchValue','damageReceivedValue',
    'dealtHeadshotsValue','dealtBodyshotsValue','dealtLegshotsValue','killDistanceValue',
    'killDistanceDisplayValue','avgKillDistanceValue','avgKillDistanceDisplayValue',
    'longestKillDistanceValue','longestKillDistanceDisplayValue',
]]

In [ ]:
df_weapons_renamed = df_weapons_raw.rename(columns={'player': 'nickNameFull'})
df_weapons_renamed.head(1)

In [ ]:
df_weapons_renamed.to_csv('C:\\repos\\tcc_valorant_analysis\\data\\weapons\\weapon_book.csv')